.cartContainer {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-wrapper {
  width: 70%;
  padding: 10px;
}

.cart-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-action {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 5px;
  background-color: lightgreen;
  text-align: center;
  font-size: 12px;
  height: fit-content;
  margin: 0 5px;
  cursor: pointer;
  color: #000;
}

.remove-product {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: lightcoral;
  width: fit-content;
  margin: 5px;
  font-size: 12px;
  cursor: pointer;
}
