@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300;400;600&display=swap");

body {
  font-family: "Playpen Sans", cursive;
  background-color: #2f2b2b;
  color: #fff;
}

.pc-container {
  display: flex;
  width: 100%;
}
